* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,body,main {
	height: 100%;
}
body {
	font:14px/1.5 Microsoft YaHei;
}

a {
	text-decoration: none;
	color: #444;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
/*消除文本框默认格式*/
input {
	/*border:none;*/
    outline:none;
    background:transparent;
	/*-webkit-appearance: none;*/
}
input:focus { 
	border: none;
    outline: none;
    background-color: transparent;
}